html {
    scroll-behavior: smooth;
    
}

header{
    background-image: url(../img/bg_home.jpg);
    filter: grayscale(0.7) opacity(90%);
}
.navbar-dark{
    filter: opacity(60%);
}

h1{
    font-size: 110px;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fs-r-1{
    font-size: 5vh;
}

.fs-r-2{
    font-size: 4vh;
}

.fs-r-3{
    font-size: 2.5vh;
}

.fs-r-4{
    font-size: 2vh;
}

.fs-r-5{
    font-size: 1vh;
}

footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

textarea { resize:none; }
