body {
    font-family: 'Roboto', sans-serif;
}

#home {
    background-image: url(../img/bg_home.jpg);
    filter: grayscale(0.7) opacity(70%);
}

h1 {
    font-size: 110px;
}

.fs-r-1 {
    font-size: 5vh!important;
}

.fs-r-2 {
    font-size: 4vh!important;
}

.fs-r-3 {
    font-size: 2.5vh!important;
}

.fs-r-4 {
    font-size: 2vh!important;
}

.fs-r-5 {
    font-size: 1vh!important;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

textarea {
    resize: none;
}

.card {
    max-width: 300px;
}

#particle-js {
    width: 100%;
    /*height: 100%;
    z-index: -1;*/
    overflow: hidden;
    position: fixed;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #B3AFB3;
    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B3AFB3;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 9px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.nav-font {
    font-size: calc(22px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
}

.nav-shrink{
    transition: opacity 0.5s ease-out;
    opacity: 0;
    height: 0;
}

.nav-grow{
    transition: opacity 0.5s ease-in;
    opacity: 1;
    height: auto;
}

.scroll-down{
    position: absolute;
    left: 0;
    margin: 0 auto;
    bottom: 10;
}
.scroll-down a{
    text-decoration: none!important;
    color: #FFF;
}